#erow0ebox0{
background-color:#FFFFFF; }

#erow1ebox0{
background-color: #C0C0C0;
}

#erow2ebox0{
background-color: #808080;
}

#erow3ebox0 {
background-color: #000000;
}

#erow4ebox0 {
background-color: #FF0000;
}



#erow1ebox1 {
background-color: #800000;
}

#erow2ebox1 {
background-color: #FFFF00;
}

#erow3ebox1 {
background-color: #808000;
}

#erow4ebox1 {
background-color: #00FF00;
}

#erow2ebox2 {
background-color: #008000;
}

#erow3ebox2 {
background-color: #00FFFF;
}

#erow4ebox2 {
background-color: #008080;
}

#erow3ebox3 {
background-color: #0000FF;
}

#erow4ebox3 {
background-color: #000080;
}

#erow4ebox4 {
background-color: #FF00FF;	
}
